<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">

<head>
	<title>Clients</title>
</head>

<body>
	<h1 layout:fragment="header">Clients List</h1>
	<div layout:fragment="content" class="container">
		<a href="form.html" th:href="@{/clients/new}">New client</a>
		<div class="alert alert-success" th:if="${globalMessage}" th:text="${globalMessage}">message</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Name</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${clients.empty}">
					<td colspan="3">No clients</td>
				</tr>
				<tr th:each="client : ${clients}">
					<td th:text="${client.id}">1</td>
					<td><a href="view.html" th:href="@{'/clients/' + ${client.id}}" th:text="${client.name}"> name </a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>